#choropleth_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
}

#line_chart {
	margin-left: auto;
}

#donut_chart, #isotype_dot_plot, #wilkinson_plot {
	margin-left: auto;
	margin-right: auto;
}

*{
	font-family: 'Helvetica', 'sans-serif';
}

h1 {
	text-align: center;
	font-size: 5em;
}

.section {
	background-color: bisque;
	margin: auto;
}


.desc {
	font-size: larger;
	padding: 30px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 48em;
	background-color: wheat;
}

.title {
	font-size: 4ex;
	text-align: center;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 40em;
	font-weight: bolder;
}

.map {
	text-align: center;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
}

.trend {
	text-align: center;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
}


h2{
	text-align: center;
	font-size: xx-large;
	font-style: italic;
	padding: 5px;
	background-color: burlywood;
}

.donut-left{
	width: 60%;
	float: left;
}

.donut-title {
	font-size: larger;
	padding: 10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: wheat;
	width: 500px;
}

.trend{
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

.page-middle{
	align-self: center;
	padding: 50px;
}

.page-middl2{
	align-self: center;
	padding: 5px;
}


.img-middle {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 40em;
	font-weight: bolder;
}

.img-container {
	display: flex;
	justify-content: space-between;
}
